.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20vw;
  background-color: #f5f5f5;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0); /* trượt vào */
}

.sb-field-inputName {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.status {
  font-size: 18px;
  font-weight: 500;
  color: #0f548c;
}

.sb-field-inputName label {
  font-size: 18px;
  font-weight: 500;
  color: #0f548c;
}

.sb-field-inputName input {
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  font-size: 14px;
}

.sb-field-inputName input:focus {
  outline: none;
}

.sb-field-inputImportant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #616161;
  margin-top: 5px;
}

.sb-field-inputImportant-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.important-icon {
  color: #dca131;
}

.sb-field-inputComplete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #616161;
}

.sb-field-inputComplete-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.complete-icon {
  color: green;
  font-size: 20px;
}

.form {
  padding: 10px;
}

.sb-field-inputCategory {
}

.sb-field-inputCategory label {
  font-size: 18px;
  font-weight: 500;
  color: #0f548c;
}

.custom-select {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 40px;
  z-index: 3;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
  appearance: none; /* ẩn arrow mặc định của select */
}

.custom-select:after {
  content: "\25bc"; /* ▼ */
  font-size: 14px;
  width: 50px;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 40px; /* cùng chiều cao với select */
  color: white;
  background-color: #0f548c;
  pointer-events: none; /* để click vào vẫn mở dropdown */
}

.custom-select option {
  background: white;
  color: #333;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}

select {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  font-weight: bold;
  z-index: 2;
  padding: 0 10px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

select:after {
  content: "\25bc";
  font-size: 25px;
  width: 50px;
  height: 30px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  text-align: center;
  cursor: pointer;
}

.sb-footer {
  padding: 20px 10px;
  border-top: 2px solid #0f548c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sb-footer button {
  width: fit-content;
}

.sb-footer button:first-child {
  padding: 8px 40px;
  color: #0f548c;
  background-color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.sb-footer button:first-child:hover {
  opacity: 0.5;
  cursor: pointer;
}

.sb-footer button:last-child {
  padding: 8px 40px;
  color: white;
  background-color: #0f548c;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sb-footer button:last-child:hover {
  opacity: 0.5;
  cursor: pointer;
}
