@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

/* Container */

.container {
  display: flex;
  font-family: "Cabin", sans-serif;
}

/* Main content */

.main-content {
  background-color: #f0f0f0;
  height: 100vh;
  padding: 30px;
  flex: 1;
}

.category-label {
  font-size: 24px;
  color: #0f548c;
  font-weight: bold;
}

.heading-text {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

/* Input task */

.input-task,
.todo-item {
  width: 100%;
  border: none;
  background-color: white;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #616161;
  font-size: 16px;
}
.input-task {
  margin-top: 10px;
  padding: 12px;
}

/* Todo items */

.todo-item {
  display: flex;
  justify-content: space-between;
}

.todo-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.todo-item.open {
  background-color: #0f548c;
}

.todo-item.open p {
  color: white;
}
